<%= render 'layouts/sidebar',user: current_user %>

<h1>Books</h1>
<table>
  <tr>
    <th></th>
    <th>title</th>
    <th>Opinion</th>
  </tr>

  <% @books.each do |book| %>
    <tr>
      <td><%= image_tag user.get_profile_image(100,100) %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tr>
  <% end %>
</table>